@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
      --radius: 0.5rem;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer utilities {
  .card_grid {
    @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
  }

  .card_grid-sm {
    @apply grid sm:grid-cols-2 gap-5;
  }

  .category-tag {
    font-family: var(--font-work-sans);
    @apply font-medium text-[16px] bg-pink-100 px-4 py-2 rounded-full;
  }

  .divider {
    @apply border-dotted bg-zinc-400 max-w-4xl my-10 mx-auto;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .text-30-extrabold {
    @apply text-[30px] font-extrabold;

    color: rgba(255, 255, 255, 0.8)
  }

  .pattern {
    background-image: linear-gradient(
            to right,
            transparent 49.5%,
            rgba(251, 232, 67, 0.2) 49.5%,
            rgba(251, 232, 67, 0.6) 50.5%,
            transparent 50.5%
    );
    background-size: 5% 100%;
    background-position: center;
    background-repeat: repeat-x;
  }

  .pink_container {
    @apply w-full min-h-[530px] flex justify-center items-center flex-col py-10 px-6;
    
    background-color: rgb(60, 196, 124);
    
    background-image: linear-gradient(
      to right,
      transparent 49.5%,
      rgba(251, 232, 67, 0.2) 49.5%,
      rgba(251, 232, 67, 0.6) 50.5%,
      transparent 50.5%
    );
    background-size: 5% 100%;
    background-position: center;
    background-repeat: repeat-x;
  }

  .heading{
    font-family: var(--font-work-sans);
    @apply uppercase bg-black px-6 py-3 font-extrabold text-white sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] text-center my-5
  }

  .no-result {
    font-family: var(--font-work-sans);
    @apply text-black text-sm font-normal;
  }

  .profile_card {
    @apply w-full px-6 pb-6 pt-20 flex flex-col justify-center items-center bg-pink-500 border-[5px] border-black shadow-lg rounded-[30px] relative z-0 h-fit;
  }

  .profile_container {
    @apply w-full pb-10 pt-20 px-6 max-w-7xl mx-auto flex-col flex gap-10;
  }

  .profile_title {
    font-family: var(--font-work-sans);
    @apply w-11/12 font-extrabold bg-white border-[5px] border-black rounded-[20px] px-5 py-3 absolute -top-9 after:absolute after:content-[''] after:-top-1 after:right-0 after:-skew-y-1 after:bg-black after:-z-[1] after:rounded-[20px] after:w-full after:h-[60px] before:absolute before:content-[''] before:-bottom-1 before:left-0  before:-skew-y-1 before:w-full before:h-[60px] before:bg-black  before:-z-[1] before:rounded-[20px] shadow-xl;
  }

  .profile_image {
    @apply rounded-full object-cover border-[3px] border-black;
  }
  .sub-heading {
    font-family: var(--font-work-sans);
    @apply font-medium text-[20px] text-white max-w-2xl text-center break-words;
  }  

  .search-form {
    @apply max-w-3xl w-full min-h-[80px] bg-white border-[5px] border-black rounded-[80px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5;
  }

  .search-btn {
    @apply size-[50px] rounded-full bg-black flex justify-center items-center;
  }

  .section_container {
    font-family: var(--font-work-sans);
    @apply px-6 py-10 max-w-7xl mx-auto;
  }

  .search-input {
    font-family: var(--font-work-sans);
    @apply flex-1 font-bold placeholder:font-semibold placeholder:text-black w-full h-auto outline-none text-black;
  }

  .startup-card {
    @apply bg-white border-[5px] border-black py-6 px-5 rounded-[22px] hover:border-pink-500 transition-all duration-200 hover:shadow-xl hover:bg-pink-700 text-black hover:text-white;
  }

  .startup-card_desc {
    font-family: var(--font-work-sans);
    @apply font-normal text-[16px] line-clamp-2 my-3 break-all;
  }

  .startup-card_img {
    @apply w-full h-[164px] rounded-[10px] object-cover;
  }

  .startup-card_btn {
    font-family: var(--font-work-sans);
    @apply rounded-full bg-black font-medium text-[16px] text-white px-5 py-3;
  }

  .startup-form {
    @apply max-w-2xl mx-auto bg-white my-10 space-y-8 px-6;
  }

  .startup-form_btn {
    font-family: var(--font-work-sans);
    background-color: #EE2B69;
    @apply border-[4px] border-black rounded-full p-5 min-h-[70px] w-full font-bold text-[18px];
  }

  .startup-form_label {
    font-family: var(--font-work-sans);
    @apply font-bold text-[18px] text-black uppercase;
  }

  .startup-form_input {
    font-family: var(--font-work-sans);
    @apply border-[3px] border-black px-5 py-7 text-[18px] text-black font-semibold rounded-full mt-3 placeholder:text-gray-400;
  }

  .startup-form_textarea {
    font-family: var(--font-work-sans);
    @apply border-[3px] border-black p-5 text-[18px] text-black font-semibold rounded-[20px] mt-3 placeholder:text-gray-500;
  }

  .tag {
    font-family: var(--font-work-sans);
    @apply bg-yellow-500 px-6 py-3 font-bold rounded-sm uppercase relative;
  }

  .view_skeleton {
    @apply bg-zinc-400 h-10 w-24 rounded-lg fixed bottom-3 right-3;
  }

  .view-container {
    @apply flex justify-end items-center mt-5 fixed bottom-18 right-10;
  }

  .view-text {
    font-family: var(--font-work-sans);
    @apply font-medium text-[16px] bg-pink-100 px-4 py-2 rounded-lg capitalize;
  }
}
